* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url(../img/fundo.png);
    background-attachment: fixed;
    background-size: cover;
    flex-direction: column;
}

header {
    height: 15dvh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 160px;
}

.voltar {
    max-width: 40px;
    margin: 25px;
}

.corpo {
    display: flex;
}

aside {
    max-width: 50dvh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: justify;

}

.livro {
    max-width: 40dvh;
    padding-top: 0;
}

aside p {
    margin: 40px;
    color: white;
    line-height: 24px;
}

.acoes {
    width: 300dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10dvh;
    padding-bottom: 10dvh;
    gap: 10dvh;
}



.container:hover {
    transform: scale(105%);
}

.container {
    width: 130dvh;
    border-radius: 80px;
    color: white;
    height: 25dvh;
    display: flex;
    align-items: center;
   
}


.textos {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 60px;
}


.container img {
    width: 17%;
    margin-top: 3px;
}

h1{
    font-size: 6dvh;
    font-weight: 500;
}

.container h1 {
    font-size: 7dvh;
    font-weight: 500;
    color: #000000;
}

@media (max-width: 190dvh) {
    aside {
        display: none;
    }

    .titulo {
        color: white;
    }

    h1 {
        text-align: center;
        margin: 0;
    }

}

@media (max-width: 136dvh) {
    .container {
        height: 200px;
        width: 65dvh;
        display: flex;
        justify-content: center;
    }

    .container img {
        display: none;
    }

    header h1 {
        font-size: 6dvh;
        text-align: left;
    }

    .textos{
        justify-content: center;
        margin-left: 0;
    }

}